h1,
h2 {
	text-align: center;
}

.score-board {
	width: 50vw;
	height: 3vw;
	background: green;
	margin: 2vh auto;
	border: 1px solid black;
}

.game-board-container {
	width: 50vw;
	height: 50vw;
	background: rgb(46, 46, 46);
	margin: 0 auto;
	border-radius: 100%;
	padding: 1vw;
}

.game-board {
	width: 50vw;
	height: 50vw;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	margin: 0 auto;
	position: relative;
}

.game-button {
	margin: 1vw;
}

.game-controls-container {
	background: rgb(46, 46, 46);
	width: 20vw;
	height: 20vw;
	left: 50%;
	top: 50%;
	margin-left: -10vw;
	margin-top: -10vw;
	position: absolute;
    border-radius: 100%;
    text-align: center;
}

.game-logo {
    font-size: 3vw;
    margin: 0.5em;

}

.difficulty-label {
    margin-bottom: 2px;
}

.difficulty-display {
	height: 2em;
	width: 2em;
	background: black;
	color: red;
    padding-top: 1em;
    margin: 0 auto;
}

.set-difficulty-button, .reset-button {
    margin: 2vw 1vw;
}

.green {
	border-top-left-radius: 100%;
	background: rgb(0, 100, 0);
	border: none;
}

.green-lit {
    background: radial-gradient(rgb(0, 255, 0),rgb(0, 100, 0));
}

.red {
	border-top-right-radius: 100%;
    background: rgb(100, 0, 0);
	border: none;
}
.red-lit {
    background: radial-gradient(rgb(255, 0, 0),rgb(100, 0, 0));
}

.yellow {
	border-bottom-left-radius: 100%;
	background: rgb(100, 100, 0);
	border: none;
}
.yellow-lit {
    background: radial-gradient(rgb(255, 255, 0),rgb(100, 100, 0));
}

.blue {
	border-bottom-right-radius: 100%;
	background: rgb(0, 0, 75);
	border: none;
}
.blue-lit {
    background: radial-gradient(rgb(0, 0, 255),rgb(0, 0, 75));
}